body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff7f9;
    color: #333;
}

header {
    background: #ffb6c1;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: #ff4d6d;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #ff4d6d;
    margin-bottom: 15px;
}

.products ul {
    list-style: none;
    padding: 0;
}

.products li {
    background: #ffe4ea;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
}

footer {
    background: #ffb6c1;
    text-align: center;
    padding: 15px;
    margin-top: 30px;

}
.page-header {
  text-align: center;
  padding: 30px 15px;
}

.hampers-page {
  padding: 20px;
}

.hamper-box {
  background: #f8eaea;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.whatsapp-btn {
  display: block;
  text-align: center;
  margin: 30px auto;
}
.back-home {
  text-align: center;
  margin: 15px 0 25px;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  z-index: 999;
  text-align: center;
}

.chat-text {
  display: block;
  background: #e67b8f;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 12px;
  margin-bottom: 6px;
  font-weight: 500;
}

.whatsapp-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border: 3px solid white;
}
.site-header {
  text-align: center;
  padding: 20px 10px;
}

.site-logo {
  width: 90px;
  height: auto;
  margin-bottom: 6px;
}

.brand-name {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}




